<!-- <form action="/new" method="POST">
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>
</form> -->
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<head>
</head>
<body>
{% for item in items %}
  <h1> {{ item.km }} </h1>
  <p> {{ item.open_time }} <p>
  <p> {{ item.close_time }} <p>
{% endfor %}
</body>
</html>
